/*BREAKPOINTS RESPONSIVIDADE*/

/*as alterações ocorrem de 1280px pra baixo*/
@media only screen and (max-width: 1280px) {
    nav a {
		font-size: 2.5vw;
	}

	section {
		font-size: 2vw;
	}

	p#gasolina, p#deslocamentoMax {
		font-size: 1.2vw;
	}
}

@media only screen and (max-width: 1024px) {
    nav a {
		font-size: 3vw;
	}

	section {
		font-size: 2.5vw;
	}

	p#gasolina, p#deslocamentoMax {
		font-size: 1vw;
    }

    i.fa-arrow-circle-up {
        font-size: 4.5vw;
    }

    img#logo-rodape {
        width: 14%;
    }

    div#logos-contato img{
        width: 14vw;
    }

    div#autor {	
        font-size: 2vw;
    } 
}

@media only screen and (max-width: 768px) {
    nav {
        width: 78%; /*pra distanciar as palavras do menu*/
    }
    
    nav a {
		font-size: 3.5vw;
	}

	section {
		font-size: 3.4vw;
    }
    
    .titulo {
        font-size: 4vw;
    }

	p#gasolina, p#deslocamentoMax {
		font-size: 1vw;
    }

    i.fa-arrow-circle-up {
        font-size: 6vw;
        visibility: hidden;
    }

    img#logo-rodape {
        width: 20%;
    }

    div.linha-dourada {
        width: 80%;
        
    }

    div#logos-contato {
        /*pra alinhar as logos porque elas não tinham o mesmo tamanho vazio*/
        width: 80%;
        margin: 0 auto;
    }

    div#logos-contato img{
        width: 20vw;
    }

    div#autor {	
        font-size: 3vw;
    } 
}

@media only screen and (max-width: 640px) {
    nav {
        width: 84%; /*pra distanciar as palavras do menu*/
        letter-spacing: 0;
        top: 5%; /*pro menu não ficar tão próximo do DOM voyage*/
    }
    
    nav a {
		font-size: 5vw;
    }
    
    img#logo {
        max-width: 140%; /*pra dar um zoom na logo*/
    }

	section {
        font-size: 4.3vw;
        width: 84%;
    }
    
    .titulo {
        font-size: 4.7vw;
    }

    div.instrucao img {
        width: 16%;
    }

    #carro-aumentado {
        width: 26%;	
    }

	p#gasolina, p#deslocamentoMax {
		font-size: 1vw;
    }

    i.fa-arrow-circle-up {
        font-size: 8vw;
        visibility: hidden;
    }

    div.linha-dourada {
        width: 90%;
        
    }
    
    img#logo-rodape {
        width: 30%;
    }

    div#logos-contato img{
        width: 25vw;
    }

    div#autor {	
        font-size: 4vw;
    } 
}

@media only screen and (max-width: 480px) {
    nav {
        width: 84%; /*pra distanciar as palavras do menu*/
        letter-spacing: 0;
        top: 5%; /*pro menu não ficar tão próximo do DOM voyage*/
    }
    
    nav a {
		font-size: 5.8vw;
    }
    
    img#logo {
        max-width: 140%; /*pra dar um zoom na logo*/
    }

	section {
        font-size: 5.2vw;
        width: 84%;
    }
    
    .titulo {
        font-size: 5.4vw;
    }

    div.instrucao img {
        width: 16%;
    }

    #carro-aumentado {
        width: 26%;	
    }

	p#gasolina, p#deslocamentoMax {
		font-size: 1vw;
    }

    i.fa-arrow-circle-up {
        font-size: 11vw;
        visibility: hidden;
    }

    div.linha-dourada {
        width: 90%;
        
    }
    
    img#logo-rodape {
        width: 33%;
    }

    div#logos-contato img{
        width: 29vw; 
        
    }

    div#autor {	
        font-size: 5vw;
    } 

}